.contact{
  border: 0px solid black;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position: absolute;
  height: 50px;
}
.contact-item{

  text-transform: lowercase;
  color: $dark-gray;

  &__link{
    text-decoration: none;
    color: $dark-gray;
  }

  &__image{
    width: 50px;
  }
}
