.latest-projects{

}
.project-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 10px, auto;
}
.project-box{
  border: 1px solid $light-gray;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
  text-decoration: none;
  background: $footer;

  &__image{
    max-width: 250px;
  }
  &__link{
    text-decoration: none;
    color: $dark-gray;
  }
}
