.latest-projects{

}
.project-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 10px, auto;
}
.project-box{
  padding: 10px;
  text-align: center;
  font-size: 0.7em;
  text-decoration: none;
  box-shadow: 3px 3px 5px 6px #ccc;
  background: $white;
  
  &__image{
    max-width: 250px;
  }
  &__link{
    text-decoration: none;
    color: $dark-gray;
  }
}
