@import 'typography';
@import 'colors';
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: $dark-gray;
  font-family: $ff-t;
  text-transform: uppercase;
  text-decoration: none;
}
ul, ol{
  list-style: none;
  padding: 0;
}

@import 'navbar';
@import 'hero';
@import 'projects';
@import 'about-me';
@import 'contact';
@import 'footer';
