.contact{
  position: relative;
  // border: 0px solid black;
  // padding: 40px;
  // display: flex;
  //justify-content: space-between;
  // margin-top: 10px;
  // position: absolute;
  // height: 50px;

  &__image-box{
    position: absolute;
    // display: flex;
    // // justify-content: center;
    // // align-items: center;
    background-image: url(../images/window.jpg);
    background-size: cover;
    //border: 2px solid black;
    width: 600px;
    height: 400px;
    left: 10%;
    top: 44px;
  }
  &__image{
    width: 56%;
    margin: 60px 50px auto 80px;
  }
  &__text-box{
    background: $white;
    border: 1px black;
    //float: left;
    position: absolute;
    //z-index: 1000;
    top: 9em;
    padding: 20px;
    left: 24em;
    font-size: 1.5em;
    text-transform: none;
    text-align: center;
  }
  &__email-link{
    top: -10px;
    text-decoration: none;
    color: $dark-gray;
  }
}
